{% extends 'dept_base.html' %}

{% block title %}
Courses - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="active dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}


{% block table %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">  
	  <h2 id="btech">Board Of Governors</h2>
	  	{% for i in ranklist %}
		<div class="panel panel-default">
		  <div class="panel-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{i}}">
				<h3 class="panel-title">
				<i class="fa fa-angle-down pull-down"></i>
				   <b>{{i}}</b>
				</h3>
			    </a>
		  </div>
		  
		  <div id="collapse{{i}}" class="panel-collapse collapse">
			<div class="panel-body">
				<table style="height: 250px;" align="center" border="1" cellpadding="4" cellspacing="0" width="auto">
				  <tbody>
					<tr valign="top">
					  <td colspan="3" width="661">
					  <center>
                      <b> Name and Address</b>
                      </center>
					  </td>
					  <td width="122">
					  <center>
                      <b> Position</b>
                      </center>
					  
					  </td>
					  <td width="122">
					 <center>
                      <b> Tenure</b>
                      </center>
					  </td>
                      </td>
					  <td width="123">
					  <center>
                      <b> Nominated by</b>
                      </center>
					  </td>
					</tr>
                    {% for i in board_mem %}
                        {% if i.rank = {{i}} %}
                            <tr>
                            <td colspan =3 width = "661">
                            <b><strong>{{i.name}}</strong></b>
                            <b>{{i.address}}</strong></b>
                            </td>
                            
                            <td width = "122">
                            <b>{{i.position}}</b>
                            </td>
                            
                            <td width = "122">
                            <b>{{i.tenure}}</b>
                            </td>
                            <td width = "123">
                            <b>{{i.nominate_by}}</b>
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                                

{% endblock %}
