<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="iit bhu, itbhu,bhu, indian institute of technology bhu, iit varanasi,banaras hindu university" />
    <meta name="author" content="">
    <meta http-equiv="description" content="Official Website Of Indian Institute of Technology ( Banaras Hindu University ), Varanasi -India">
    <title>Indian Institute of technology, Banaras Hindu University IIT(BHU)</title>
	
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link href="/static/css/scrollbar.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        {% if Department.dept_contact %}
                            <div class="top-number"><p><i class="fa fa-phone-square"></i>+91{{ Department.dept_contact }}</p></div>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                           <div class="login">
                                <li><a href="#">Login (CAS)</a></li>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/logo.jpg" alt="logo" width="250px"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href='department/cse'>Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Institute<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.iitbhu.ac.in/institute/index.html">Administration</a></li>
                                <li><a href="{% url 'board_of_governors' %}">Board of Governors</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/various_committees.html">Committees</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/administrativeoffice.html">Administrative Office</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/pastdirector.html">Directors' &amp; Deans</a><li>
                                <li><a href="http://www.iitbhu.ac.in/antiragging/">Anti Ragging</a></li>
                                <li><a href="http://www.iitbhu.ac.in/rti/">RTI</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/calendar.html">Calendar</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/circulars.html">Circulars</a></li>
                                <li><a href="http://www.iitbhu.ac.in/institute/circulars.html">Notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li>Science Departments</li>
                                            <li class="divider"></li>
                                            <li><a href="#">Chemistry</a></li>
                                            <li><a href="#">Physics</a></li>
                                            <li><a href="#">Mathematical Sciences</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li>Engineering Departments</li>
                                            <li class="divider"></li>
                                            <li><a href="/department/cr">Ceramic Engg. </a></li>
                                            <li><a href="/department/ch">Chemical Engg.</a></li>
                                            <li><a href="/department/ce">Civil Engg.</a></li>
                                            <li><a href="/department/cs">Computer Engg.</a></li>
                                            <li><a href="/department/ee">Electrical Engg.</a></li>
                                            <li><a href="/department/ec">Electronics Engg. </a></li>
                                            <li><a href="/department/me">Mechanical Engg.</a></li>
                                            <li><a href="/department/mt">Metallurgical Engg.</a></li>
                                            <li><a href="/department/mn">Mining Engg.</a></li>
                                            <li><a href="/department/ph"> Pharmaceutics</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li>Schools</li>
                                            <li class="divider"></li>
                                            <li><a href="#">Bio-Chemical Engg.</a></li>
                                            <li><a href="#">Bio-Medical Engg.</a></li>
                                            <li><a href="#">Material Sc. &amp; Tech.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admissions<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://jeeadv.iitkgp.ac.in/">JEE(Advanced)</a></li>
                                <li><a href="http://iitbhu.ac.in/newadmission/index.html">New Entrants</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/admission.html">Admission</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/fee_structure.html">Fee Structure</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/academic-programmes.html">Academic Programmes</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/ordinances.html">Ordinances</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/scholarship.html">Scholarship</a></li>
                                <li><a href="http://www.iitbhu.ac.in/admissions/index.php/convocation.html">Convocation</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Central Units<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.iitbhu.ac.in/library">Library</a></li>
                                <li><a href="http://www.iitbhu.ac.in/tpo">Training &amp; Placement</a></li>
                                <li><a href="http://iitbhu.ac.in/mainworkshop/it_main_workshop/">Main Workshop</a></li>
                                <li><a href="http://iitbhu.ac.in/mciie/">MCIIE</a></li>
                                <li><a href="http://iitbhu.ac.in/wmes_web/">WMES</a></li>
                            </ul>                        
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Teaching</a></li>
                                <li><a href="pricing.html">Research</a></li>
                                <li><a href="404.html">Students</a></li>
                                <li><a href="shortcodes.html">Tender</a></li>
                            </ul>
                        </li>
                        <li><a href="http://www.iitbhu.ac.in/alumni">Alumni</a></li>
                        <li><a href="http://www.iitbhu.ac.in/alumni">Tenders</a></li>
                        <li><a href="http://www.iitbhu.ac.in/institute/contactus.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(/static/images/slider/bg1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Indian Institute of Technology (BHU) Varanasi</h1>
                                    <h2 class="animation animated-item-2">Founded in 1919, it was designated an Indian Institute of Technology in 2012.</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <!-- <img src="static/images/slider/img1.png" class="img-responsive"> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/static/images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                   <!-- <img src="#" class="img-responsive"> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/static/images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                   <!-- <img src="#" class="img-responsive"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url(/static/images/slider/bg4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                   <!-- <img src="#" class="img-responsive"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->


     <section id="middle">
        <div class="container">
            <div class="row">


                <div class="col-sm-12 wow fadeInDown">
                    <div class="accordion">
                        <h2>NEWS & NOTIFICATIONS</h2>
                        <div id = "scrollbox3">
                            <div id = "accordion1" class="panel-group" style="margin-right: 15px">

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseTwo1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                    <h3 class="panel-title">
                                    <b> May, 17 </b>Advertisement for the Administrative / Ministerial positions(last date 15-06-2015)
                                    <i class="fa fa-angle-down pull-down"></i>
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseThree1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <a href="http://iitbhu.ac.in/ad_no_1_2015_16.pdf">(I)Advertisement (No. 1/2015-16),</a><br>
                                    <a href="http://iitbhu.ac.in/application_form_ad_no_1_2015_16.pdf">(II) Application Form(pdf),</a><br>
                                    <a href="http://iitbhu.ac.in/application_form_ad_no_1_2015_16.docx">(III)Application Form(docx). </a>
                                  </div>
                                </div>
                              </div>


                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseFour1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseFive1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseSix1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseSeven1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseEight1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseNine1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseNine1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTen1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseTen1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEleven1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseEleven1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwelve1">
                                    <h3 class="panel-title">
                                    <i class="fa fa-angle-down pull-down"></i>
                                    <b> May, 26 </b>Invitation of Rate of Interest from public and private sector banks for the investment of surplus funds of IIT(BHU)
                                    </h3>
                                    </a>
                                </div>
                                <div id="collapseTwelve1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                   <a href="http://iitbhu.ac.in/Invitation_of_RoI_25may2015.pdf"><b> Click for more info </b></a>
                                  </div>
                                </div>
                              </div>

                            </div><!--/#accordion1-->
                        </div>
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#middle-->
    

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Latest Events and Gallery Sample</h2>
                <p class="lead">This section can be used for gallery and events organised in IIT(BHU)</p>
            </div>

            <div class="row">
                {% for image in Images %}
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src= alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">IIT(BHU) Gallery </a></h3>
                                    <p>IIT(BHU),Varanasi has a residential and co-educational campus built on an area of 400 acres.</p>
                                    <a class="preview" href="/static/images/portfolio/full/item10.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->


    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 wow fadeInDown">
                 <h2>This Section is for small paragraphs about IIT(BHU)</h2>

                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">About</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02"> Undergraduate programme</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Postgraduate programme</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Departments</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">MCIIE and Entrepreneurship Cell</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">

                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="/static/images/tab1.jpg" width="220px">
                                            </div>
                                            <div class="media-body">
                                                 <h2>About IIT(BHU)</h2>
                                                 <p>Indian Institute of Technology (BHU) Varanasi (commonly known as IIT (BHU) Varanasi) is a public engineering institution located in Varanasi, Uttar Pradesh, India. Founded in 1919, it was designated an Indian Institute of Technology in 2012. IIT(BHU) Varanasi has 13 departments and three inter-disciplinary schools. It is declared as Institute of National Importance by Government of India under IIT Act.</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="/static/images/tab1.jpg" width="180px">
                                            </div>
                                            <div class="media-body">
                                                 <h2>Overview of Undergraduate programme</h2>
                                                 <p>IIT (BHU) Varanasi offers four year instructional programmes for the degree of Bachelor of Technology (B.Tech) and Bachelor of Pharmacy (B.Pharm). Five year programmes are categorized into the Integrated Dual Degree (IDD) programme and Integrated Master’s Degree (IMD) programme. 
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>Postgraduate courses offer Master of Technology (M.Tech) and Ph.D. degrees. Admissions to the M. Tech programme are made through the Graduate Aptitude Test in Engineering (GATE) conducted jointly by Indian Institute of Science and Indian Institutes of Technology.</p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p>IIT (BHU) has 17 academic units including 10 Engineering Departments, 3 Science Departments, 3 Interdisciplinary Schools and 1 Humanities & Social Sciences Section. The academic departments at IIT (BHU) Varanasi are: Engineering: Ceramic Engineering Chemical Engineering Civil Engineering Computer Science & Engineering Electrical Engineering Electronics Engineering Mechanical Engineering Metallurgical Engineering Mining Engineering Pharmaceutics Department of Electrical Engineering at IIT (BHU) Sciences: Chemistry Mathematics Physics Interdisciplinary Schools: Biochemical Engineering Biomedical Engineering Material Science and Technology Humanities & Social Sciences Section</p>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                        <p>Malaviya Centre for Innovation, Incubation and Entrepreneurship (MCIIE) was established in 2008. The objective of the MCIIE is to produce successful firms that will leave the program financially viable. Incubator tenants not only benefit from business and technical assistance, they also benefit from official affiliation with the incubator, a supportive community with an entrepreneurial environment, direct link to entrepreneurs, and immediate networking and commercial opportunities with other tenant firms</p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-12 wow fadeInDown">
                    <div class="testimonial">
                        <h2>From the Founder</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="/static/images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>A teaching university would but half perform its function if it does not seek to develop the heart-power of its scholars with the same solicitude with which it develops their brain-power. Hence it is that the proposed university has placed formation of character in youth as one of its principal objects.</p>
                                <span><strong>-Mahamana Pt. Madan Mohan Malaviya Ji/</strong> The Founder </span>
                            </div>
                         </div>

                          <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="/static/images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>The University will seek not merely to turn out men as engineers, scientists, doctors, merchants, theologians but also as men of high character, probity and honour, whose conduct through life will show they bear the hall-mark of a great University.</p>
                                <span><strong>-Mahamana Pt. Madan Mohan Malaviya Ji/</strong> The Founder</span>
                            </div>
                         </div>

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    

  

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Important</h3>
                        <ul>
                            <li><a href="http://www.iitbhu.ac.in/admissions/index.php/ordinances.html"> UG & PG Ordinance</a></li>
                            <li><a href="http://iitbhu.ac.in/iitnotifications/Rolling%20Advertishment%20-%2011.3.13.pdf"> Rolling Advt. for Faculty</a></li>
                            <li><a href="http://www.iitbhu.ac.in/admissions/index.php/admission/phd.html"> PG Admissions 2015-16</a></li>
                            <li><a href="http://jeeadv.iitd.ac.in/">JEE(Advanced)</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                         <h3>Explore</h3>
                        <ul>
                            <li><a href="http://www.bhu.ac.in/proctor_office/" >Proctor Office</a></li>
                            <li><a href="http://www.imsbhu.nic.in/hospital/index.htm" >Health Center</a></li>
                            <li><a href="http://www.bhu.ac.in/bhulibrary/index.html">Central Library</a></li>
                            <li><a href="http://www.bhu.ac.in/">BHU HOME PAGE </a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                      
                         <h3>Services</h3>
                        <ul>
                            <li><a target="_blank" href="http://mail.google.com/a/itbhu.ac.in/"> Email Service </a></li>
                            <li><a target="_blank" href="http://calendar.itbhu.ac.in/"> Calendar</a></li>
                            <li><a href="http://bhu.ac.in/iitbhu/intranet/index.html">Intranet Portal</a></li>
                            <li><a href="http://iitbhu.ac.in/antiragging/">Anti-ragging @ IIT(BHU)</a></li></a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                         <h3>Other</h3>
                        <ul>
                            <li><a href="http://www.itbhu.ac.in/institute/calendar.html">Academic Calender</a></li>
                            <li><a href="http://iitbhu.ac.in/institute/notification/2015_holidays_IITBHU.pdf">List of Holidays </a></li>
                            <li><a href="http://iitbhu.ac.in/antiragging/security.html"> IIT Proctorial Board</a></li>
                            <li><a href="http://bhu.ac.in/kulgeet.htm" target="_new">Kulgeet</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                   <a href="http://iitbhu.ac.in/various/copyright.shtml">Copyright &copy; 2015</a> | <a href="{% url "home" %}">IIT(BHU)</a>, Varanasi - 221005. All Rights Reserved. | <a href="http://iitbhu.ac.in/various/disclaimer.shtml">Disclaimer</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Developed By</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <script src="/static/js/jquery.localScroll.js"></script>
    <script src="/static/js/jquery.localScroll.min.js"></script>
    <script>
        $(document).ready(
            function() { 
                $("html").niceScroll({autohidemode: "false", cursorwidth: 10, zindex: 1});
            }
        );

    </script>
    <script>
        $(document).ready(
            function() { 
                $("#scrollbox3").niceScroll({autohidemode: "false", cursorwidth: 10});
            }
        );
    </script>
    <script >
        $('#navbar').localScroll({duration: 600});
    </script>

</body>
</html>
