{% extends '../dept/department.html' %}

{% block info %}

<h2>About the Department</h2>
<p>The Department is currently offering Bachelor, Master and Doctoral degree programmes. It had been recognized as Centre of Advanced Study in 1980 and presently running into the IVth state of its status. The National Electron Microscope Facility(NELMIF) was established through the generous grant of DST in 1982. The Department is also a Centre of QIP programme of MHRD/AICTE since 1981.</p>
<p>The members of the staff have been actively engaged in research and have undertaken many research/consultancy projects. These research activities span over wide ranging fields of-<ul>
    <li>Nanomaterials Characterization</li>
    <li>Quasicrystals</li>
    <li>Biomaterials</li>
    <li>Magnetic Materials</li>
    <li>Spray Forming</li>
    <li>Rapid Solidification</li>
    <li>Mechanical Alloying</li>
    <li>Powder Metallurgy</li>
    <li>Modelling of Phase Diagram by CVM</li>
    <li>Phase Transformation in Steels and Non-Ferrous Alloys and Structure Property Correlations</li>
    <li>Creep and Fatigue Behaviour of Materials</li>
    <li>Nanoindentation</li>
    <li>Corrosion</li>
    <li>Thermodynamics of Alloys and Semi-Conducting Intermatallics</li>
    <li>Pyrometallurgy of Sulphide Minerals</li>
    <li>Prepartion of MolyCarbides</li>
    <li>Processing of Ferrous and Non-Ferrous Alloys</li>
    <li>Foundry and Welding</li>
    <li>Wear Studies of Composites</li>
    <li>Waste Utilization</li>
    <li>Energy Management</li>
    <li>Others</li>
</ul></p>
<p>In the year under review the Department has received a grant of Rs. 3.85 crores from DST under their 'Fund for Infrastructural Development in Science and Technology(FIST)' programme in recognition of the research contribution of the faculty members. Under this programme the Department has planned to procure- <ol>
    <li>Calvet Microcalorimeter with DSC, DTA and DTG facilities</li>
    <li>Transmission Electron Microscope</li>
</ol> </p>
<p>Another feather to the cap of the Department is sanction of a Steel Chair Professorship and five scholarships  to undergraduate students by the Ministry of Steel, Government of India. The Departmental library is endowed with over 10000 books and subscriptions to 33 research journals and periodicals, besides the e-subscriptions from IIT Main Library and BHU Central Library.</p>
<p>The Department is associated with the following trusts and chapters of professional bodies: <ul>
    <li>Indian Institute of Metals, Varanasi Chapter</li>
    <li>Indian Institute of Metals, Varanasi Student Chapter</li>
    <li>Institution of Engineers(India), Varanasi Chapter</li>
    <li>N.P. Gandhi Memorial Metallurgy Trust</li>
</ul></p>

{% endblock %}
