{% extends '../dept/department.html' %}

{% block info %}

<h2>About the Department</h2>
<p>The Department of Industrial Chemistry was established in 1921 at Banaras Hindu University. Subsequently, it was renamed as the Department of Chemical Engineering and Technology in 1956. The Department has established several benchmarks in teaching and research. It modernizes its programmes to impart education in upcoming areas of chemical engineering.</p>
<p>Currently it is ranked amongst the nation's top departments in chemical engineering. The Department is endowed with faculty members who are dedicated teachers and distinguished researchers and carry out cutting-edge research in all modern areas of chemical engineering, as well as in inter-disciplinary ares like-<ul>
    <li>Environmental Biotechnology</li>
    <li>Biosciences</li>
    <li>Hydrogen Energy</li>
    <li>Others</li>
</ul></p>
<p>The Department provides a vibrant and creative learning environment to its students. It also participates extensively in R&D and consulting for a host of chemical and processing industries in India.</p>
<p>The Alumni(graduates with Bachelors, Masters and Ph.D degrees from the Department) have distinguished themselves in both academia and industry, and continue to inspire the current generation of students.</p>
<p>The Department invites you to explore more about it through its website and also welcomes you to personally visit the Department to learn more.</p>

{% endblock %}
