{% extends 'dept_base1.html' %}

{% block title %}
Alumni - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="active dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}

{% block body %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">
		<h2>Alumni:</h2>
		  	{% block alumni_data %}
		  	{% endblock %}
		</div>
	</div>
{% endblock %}

