{% extends 'dept_base.html' %}

{% block title %}
Contact-Us - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class=" dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li class="active">
{% endblock %}


{% block table %}
    <h2>Contact-Us:</h2>

{% endblock %}
