{% extends 'dept_base1.html' %}

{% block title %}
Admission - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="dropdown">
{% endblock %}

{% block admission %} 
<li class="active">
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}

{% block table %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">

      {% block admission_data %}
      {% endblock %}
	  
    </div><!--/#accordion1-->
	</div><!--/.accordion-->
  
{% endblock %}

