{% extends 'activity_base.html' %}

{% block title %}
    Notifications - {{ department.dept_name }}
{% endblock %}

{% block activities %} 
<li class="active dropdown">
{% endblock %}

{% block body %}
    <div class="center" style="padding-bottom: 10px;">
        <h3 align="left">Notification</h3>
    </div>

            {% if slug %}
                 <table id="id_list_table" class="table">
                    <tr><td>{{ notification.title }}</td></tr>
                    <tr><td>{{ notification.date }}</td></tr>
                    <tr><td>{{ notification.desc }}</td></tr>
                    <tr><td>{{ notification.notif_doc }}</td></tr>
                 </table>
            {% else %}
                {% for notification in notifications  %}
                    <li><a href="{{ notification.slug }}">{{ notification.title }}
                {% endfor %}
            {% endif %}
{% endblock %}
