{% extends 'dept_base1.html' %}

{% block title %}
Equipment - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class=" dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="active dropdown">
{% endblock %}

{% block activities %} 
<li class=" dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}


{% block table %}
    <h2>Equipment:</h2>

{% endblock %}
