{% extends 'dept_base1.html' %}

{% block title %}
Students - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="active dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}


{% block table %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">  
	  <h2 id="btech">List of B.Tech Students:</h2>
	  	{% for year,title,students in full_list_btech %}
		<div class="panel panel-default">
		  <div class="panel-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{year}}">
				<h3 class="panel-title">
				<i class="fa fa-angle-down pull-down"></i>
				   <b>{{title}}</b>
				</h3>
			    </a>
		  </div>
		  <div id="collapse{{year}}" class="panel-collapse collapse">
			<div class="panel-body">
				<table  style="height: 50px; border-bottom: 1px solid #ddd; " align="center" cellpadding="1" cellspacing="0" width="auto">
				  <tbody>
					<tr valign="top">
					  <td width="105">
					  <p><strong>S.No.</strong></p>
					  </td>
					  <td width="262">
					  <p><strong>Roll No.</strong></p>
					  </td>
					  <td colspan="3" width="661">
					  <p><strong>Name of Student</strong></p>
					  </td>
					</tr>
					{% for student in students %}
					<tr class="border-top" valign="top">
					  <td style="padding-top: 10px;" width="105">
					  <p>{{forloop.counter}}.</p>
					  </td>
					  <td style="padding-top: 10px;" width="262">
					  <p>{{student.roll_no}}</p>
					  </td>
					  <td style="padding-top: 10px;" colspan="3" width="661">
					  <p>{{student.name}}</p>
					  </td>
					</tr>
					{% endfor %}
					
				  </tbody>
				</table>
			</div>
		  </div>
		</div>
	  	{% endfor %}

		<br>
		<br>
	  <h2 id="mtech">List of M.Tech/IDD Students:</h2>
	  	{% for counter,title,students in full_list_idd %}
		<div class="panel panel-default">
		  <div class="panel-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{counter}}">
				<h3 class="panel-title">
				<i class="fa fa-angle-down pull-down"></i>
				   <b>{{title}}</b>
				</h3>
			    </a>
		  </div>
		  <div id="collapse{{counter}}" class="panel-collapse collapse">
			<div class="panel-body">
				<table  style="height: 50px; border-bottom: 1px solid #ddd; " align="center" cellpadding="1" cellspacing="0" width="auto">
				  <tbody>
					<tr valign="top">
					  <td width="105">
					  <p><strong>S.No.</strong></p>
					  </td>
					  <td width="262">
					  <p><strong>Roll No.</strong></p>
					  </td>
					  <td colspan="3" width="661">
					  <p><strong>Name of Student</strong></p>
					  </td>
					</tr>
					{% for student in students %}
					<tr class="border-top" valign="top">
					  <td style="padding-top: 10px;" width="105">
					  <p>{{forloop.counter}}.</p>
					  </td>
					  <td style="padding-top: 10px;" width="262">
					  <p>{{student.roll_no}}</p>
					  </td>
					  <td style="padding-top: 10px;" colspan="3" width="661">
					  <p>{{student.name}}</p>
					  </td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		  </div>
		</div>
	  	{% endfor %}
 
		<br>
		<br>
	    <h2 id="phd">List of Ph.D Research Scholars:</h2>
		<div class="panel panel-default">
		  <div class="panel-heading">
			    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseZ">
				<h3 class="panel-title">
				<i class="fa fa-angle-down pull-down"></i>
				   <b>Current Ph.D Research Scholars (As on February 2015)</b>
				</h3>
			    </a>
		  </div>
		  <div id="collapseZ" class="panel-collapse collapse">
			<div class="panel-body">
				<table  style="height: 50px; border-bottom: 1px solid #ddd; " align="center" cellpadding="1" cellspacing="0" width="auto">
				  <tbody>
					<tr valign="top">
					  <td width="105">
					  <p><strong>S.No.</strong></p>
					  </td>
					  <td width="262">
					  <p><strong>Name of Student</strong></p>
					  </td>
					  <td colspan="3" width="661">
					  <p><strong>Supervisor & Co-Supervisor(If any)</strong></p>
					  </td>
					</tr>
					{% for student in Phd %}
					<tr class="border-top" valign="top">
					  <td style="padding-top: 10px;" width="105">
					  <p>{{forloop.counter}}.</p>
					  </td>
					  <td style="padding-top: 10px;" width="262">
					  <p>{{student.name}}</p>
					  </td>
					  <td style="padding-top: 10px;" colspan="3" width="661">
					  <p>{{student.supervisor}}{% if student.co_supervisor %}, student.co_supervisor{% endif %}</p>
					  </td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		  </div>
		</div>

	  </div><!--/#accordion1-->
	</div><!--/.accordion-->
  
{% endblock %}

