{% extends 'dept_base.html' %}

{% block title %}
Alumni - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="active dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}

{% block body %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">
		<h2>Alumni:</h2>
		  	<div class = "underline" align="justify" style="background:#f5f5f5; padding-right:20px; padding-left:20px;">
		  		<br>
					<p>Alumni of the Department have excelled in their chosen profession and have made an impact worldwide. Department is proud of its alumni and seeks their contribution through various resources viz. monetary, time, creative ideas, intellectual participation etc for the development of the Department .</p>
				<br>
					<p>For more details please visit the Institute's <a href="http://www.alumni.itbhu.ac.in/">Alumni Portal</a>.</p>
				<br>
			</div>
		</div>
	</div>
{% endblock %}

