{% extends 'people_base.html' %}

{% block title %}
Faculty - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="active dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for members in Boar_mem  %}
            <tr><td> {{ members.position }}</td></tr>
            <tr><td> {{ members.name }}</td></tr>
            <tr><td> {{ members.rank }}</td></tr>
            <tr><td> {{ members.address }}</td></tr>
            <tr><td> {{ members.nominated_by }}</td></tr>
    </table>
{% endblock %}

