{% extends 'dept_base.html' %}

{% block title %}
Admission - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="dropdown">
{% endblock %}

{% block admission %} 
<li class="active">
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}

{% block table %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">
		<h2>Admission Procedure:</h2>
		  	<div style="background:#f5f5f5; padding-right:20px;">
		  		<br>
                  <table>
                    <tbody>
                      <tr>
                        <td valign="top">
                        <div align="justify">
                          	<ul>
                            	<li><span style="line-height: 115%;">Admission to <strong>Four-Year B.Tech</strong>. programme and <strong>Five-Year Dual Degree</strong> Programme is made through the <strong>Joint Entrance Examination(JEE) </strong>conducted jointly by the IITs, Indian Institute of Technology (Banaras Hindu University) and the Indian School of Mines University, Dhanbad.</span></li>
                          	</ul>
                            <ul>
                              <li><span style="line-height: 115%;">Admission to Two-Year M.Tech Programmes is made on the basis of GATE Score. In addition, there is provision of admitting sponsored candidates from academic institutions, industries and R&amp;D organizations.</span></li>
                            </ul>
                            <ul>
                              <li><span style="line-height: 115%;">Admission to Ph.D. programmes is made on the basis of GATE/NET scores and through sponsorship by the employer. </span></li>
                            </ul>
                            <ul>
                              <li>
                              	<span style="line-height: 115%;">Foreign nationals residing in India or abroad are admitted only to the post graduate and Ph.D. programmes under: </span>
                              		<ul>
                              			<li><span style="line-height: 115%;">self-financing scheme, and </span></li>
                              			<li><span style="line-height: 115%;">cultural exchange fellowship programme.</span></li>
                              		</ul>
                              </li>
                            </ul>
                           	<ul>
                           		<li><span style="line-height: 115%;">Under the self-financing scheme, some seats are filled by direct admission of eligible qualified foreign nationals, as sponsored candidates from their home countries.</span></li>
                           	</ul>
                            
                        </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            	<br>
            </div>
            <br><br>
		<h2>Faculty Recruitments (Specializations):</h2>
		  	<div style="background:#f5f5f5; padding-right:20px;">
		  		<br>
		  		<ul>
		  			<li><p align="justify">With reference to the Rolling Advertisement (April'2013) for faculty recruitments at IIT(BHU) available at home page of IIT(BHU) website, the desired Specializations for Faculty Recruitments in the Department of Computer Sc. & Engineering are as follows:</p></li>
				<ul>
					<li>Computational Theory, </li>
					<li>Algorithms, </li>
					<li>Programming Languages, </li>
					<li>Compilers, </li>
					<li>Computer Architecture, </li>
					<li>Cyber Security, </li>
					<li>Artificial Intelligence, </li>
					<li>Computer Networks, </li>
					<li>Software Engineering, </li>
					<li>Image Processing, Computer Vision, </li>
					<li>Biometrics, </li>
					<li>Parallel/Distributed Computing, </li>
					<li>Data and Web Mining, </li>
					<li>Database Systems, </li>
					<li>Social Networks Analysis.</li>
				</ul>
				</ul>
				<br>
            </div>
	  </div><!--/#accordion1-->
	</div><!--/.accordion-->
  
{% endblock %}

