{% extends 'dept_base.html' %}

{% block title %}
Placements - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li class = "active">
{% endblock %}

{% block contact %} 
<li>
{% endblock %}


{% block body %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">
		<h2>Placements:</h2>
		  	<div class = "underline" align="justify" style="background:#f5f5f5; padding-right:20px; padding-left:20px;">
		  		<br>
					<p>Placement to the students of the Department are the best. Almost every student has a good job offer from a reputed company  while graduating from the Institute. Some students have multiple job offers.</p>
				<br>
					<p>For more details please visit the Institute's Training and Placement Cell link: <a href="http://www.iitbhu.ac.in/tpo/">http://www.iitbhu.ac.in/tpo/ </a></p>
				<br>
			</div>
		</div>
	</div>
{% endblock %}