{% extends 'activity_base.html' %}

{% block title %}
    Publications - {{ Department.dept_name }}
{% endblock %}

{% block activities %} 
<li class="active dropdown">
{% endblock %}

{% block body %}
    <div style="padding-bottom: 10px;">
        <h2>Publications:</h2>
    </div>

<div class="pub_wrap">
	<div class ='publications_panel'>
		<ul>
			<div class="listing">
				<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
					<li id="first">
						<img src="/static/images/red_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>
						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</li>
				</div>

			
				<li id="second">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/yellow_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
				
		
				<li id="third">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/blue_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
				<li id="fourth">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/green_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
			</div>
			<div class="listing">
				<li id="first">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/red_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>
						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>

			
				<li id="second">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/yellow_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
				
		
				<li id="third">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/blue_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
				<li id="fourth">
					<div class=="read_more" onclick="location.href='#';" style="cursor: pointer;">
						<img src="/static/images/green_bar.png"></img>
						<div id ="publication_date">Published on-dd/mm/yyyy</div>
						<h2 style="color:#1C25A6">Asia Bond Monitor - June 2015</h2>
						<div class ="abstract"><p>The Asia Bond Monitor reviews recent developments in East Asian local currency bond markets along with the outlook, risks, and policy options. This issue includes a special section on Bond Financing for Renewable Energy.<span style="color:#4672F5">Read more...</span> </p></div>						<div class="name">
							<span>
								<p id="candidate_name">Name of Candidates<p>
								<p id ="journal_name">Name of Journal</p>
							</span>
						</div>
					</div>
				</li>
			</div>
		</ul>	
	</div>
</div>


{% endblock %}
