{% extends 'dept_base.html' %}

{% block title %}
Staff - {{ Department.dept_name }}
{% endblock %}

{% block people %} 
<li class="active dropdown">
{% endblock %}

{% block admission %} 
<li>
{% endblock %}

{% block courses %} 
<li class="dropdown">
{% endblock %}

{% block research %} 
<li>
{% endblock %}

{% block facilities %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="dropdown">
{% endblock %}

{% block placements %} 
<li>
{% endblock %}

{% block contact %} 
<li>
{% endblock %}


{% block table %}
	<div class="accordion">
	  <div id = "accordion1" class="panel-group">  
	  	<h2>Staff:</h2>
		<div class="panel panel-default">
		  <div class="panel-heading active">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
				<h3 class="panel-title">
				<i class="fa fa-angle-down pull-down"></i>
				   <b>Department Staff :</b>
				</h3>
			    </a>
		  </div>
		  <div id="collapse" class="panel-collapse in">
			<div class="panel-body">
				<table  style="height: 50px; border-bottom: 1px solid #ddd; " align="center" cellpadding="1" cellspacing="0" width="auto">
				  <tbody>
					<tr valign="top">
					  <td width="60">
					  <p><strong>S.No.</strong></p>
					  </td>
					  <td width="222">
					  <p><strong>Name</strong></p>
					  </td>
					  <td colspan="2" width="661">
					  <p><strong>Designation</strong></p>
					  </td>
					  <td colspan="3" width="721">
					  <p><strong>Email</strong></p>
					  </td>
					</tr>
					{% for name in staff %}
					<tr class="border-top" valign="top">
					  <td style="padding-top: 10px;" width="60">
					  <p>{{forloop.counter}}.</p>
					  </td>
					  <td style="padding-top: 10px;" width="222">
					  <p>{{name.name}}</p>
					  </td>
					  <td style="padding-top: 10px;" colspan="2" width="661">
					  <p>{{name.designation}}</p>
					  </td>
					  <td style="padding-top: 10px;" colspan="3" width="721">
					  <p>{{name.email}}</p>
					  </td>
					</tr>
					{% endfor %}
					
				  </tbody>
				</table>
			</div>
		  </div>
		</div>
	  </div><!--/#accordion1-->
	</div><!--/.accordion-->
  
{% endblock %}

