{% extends '../dept/department.html' %}

{% block info %}

<h2>About the Department</h2>
<p>The founder of Banaras Hindu University, Pandit Madan Mohan Malviyaji instituted a course in Ceramic Technology as early as in 1924 with noble objective of advancing glass and ceramic technology in India. </p>
<p>In the year 1956, Department of Glass Technology and Department of Ceramic Technology were merged to form Department of Silicate Technology, offering a four year degree course by injecting into it's curriculum balanced engineering and scientific contents. In the year 1968 the Department was renamed as Department of Ceramic Engineering</p>
<p>Presently this Department id unique in the country which provides B.Tech, M.Tech and Ph.D programmes in the area of Ceramic Engineering and Technology. The Department has so far produced more than 1000 graduates, 100 postgraduates and 30 Ph.D's.</p>
<p>The Department is pursuing active research in the emerging areas of- <ul>
    <li>Glass</li>
    <li>Glass Ceramics</li>
    <li>Refractories</li>
    <li>Electronic Ceramic</li>
    <li>Cement</li>
    <li>Pottery</li>
    <li>Porcelain</li>
</ul></p>
<p>Research papers are being published in reputed National and International journals regularly.Considering the important role the Department has played the University Grants Commission has granted funds under 'Special Assistance and COSIST' Programme. Many R&D projects have been sponsored by AICTE, DST, CSIR, and UGC. The Department celebrated its Platinum Jubliee during 1999 for 75 years of Ceramic education and organized a 'National Seminar on Challenges of 21st Century'.</p>

{% endblock %}
