{% extends '../dept/alumni.html' %}

{% block alumni_data %}

<div class = "underline text" align="justify" style="padding-left:20px;">
	<p>Alumni of the Department have excelled in their chosen profession and have made an impact worldwide. Department is proud of its alumni and seeks their contribution through various resources viz. monetary, time, creative ideas, intellectual participation etc for the development of the Department .</p>
	<br>
	<p>For more details please visit the Institute's <a href="http://www.alumni.itbhu.ac.in/">Alumni Portal</a>.</p>
</div>

{% endblock %}